<%= render 'shared/pagetitle', title: 'Edit a Recipe' %>>
<%= render 'form' %>
<h5>
  <%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning" %>
  <%= link_to "Return to Show Recipe", recipe_path(@recipe), class: "btn btn-warning" %>
</h5>
